{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href={{ cdn_css }} type="text/css" />
    <script type="text/javascript" src={{ cdn_js }}></script>
    <div class="page-header">
        <h1>Close Prices for <a class="redtext">{{ ticker }}</a></h1>
    </div>
    {{ generated_script | safe }}
    {{ div_tag | safe }}

    <form action="check_social_media" method="post" name="check_social_media">
      {{ form.hidden_tag() }}
      <p>
          Stock Name:<br>
          {{ form.ticker_symbol(size=80, value=ticker) }}<br>
          Start Date:<br>
          {{ form.start(size=80, value=start) }}<br>
          End Date:<br>
          {{ form.end(size=80, value=end) }}<br>
      </p>
      <p><input type="submit" value="Check Social Media"></p>
  </form>
{% endblock %}