{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href={{ cdn_css }} type="text/css" />
    <script type="text/javascript" src={{ cdn_js }}></script>
    <div class="page-header">
        <h1>Close Prices Histogram for <a class="redtext">{{ ticker }}</a></h1>
        Mean: <a class="redtext">{{ mean }}</a>
        Standard Deviation: <a class="redtext">{{ std }}</a>
    </div>
    {{ generated_script | safe }}
    {{ div_tag | safe }}
{% endblock %}