{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href={{ cdn_css }} type="text/css" />
    <link rel="stylesheet" href={{ cdn_css_widgets }} type="text/css" />
    <script type="text/javascript" src={{ cdn_js }}></script>
    <script type="text/javascript" src={{ cdn_js_widgets }}></script>

    <div class="page-header">
        <h1>ADX plot for <a class="redtext">{{ ticker }}</a></h1>
    </div>

    <p>ADX is used to quantify trend strength. ADX calculations are based on a moving average of price range expansion
        over a given period of time (default is 14)

        ADX is plotted as a single line that registers trend strength whether price is trending up or down. The
        indicator is usually plotted in the same window as the two directional movement indicator (DMI) lines, from
        which ADX is derived.

        When the +DMI(PDI) is above the -DMI(NDI), prices are moving up, and ADX measures the strength of the uptrend.
        When the -DMI(NDI) is above the +DMI(PDI), prices are moving down, and ADX measures the strength of the
        downtrend.



    {{ generated_script | safe }}
    {{ div_tag | safe }}
{% endblock %}