{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Previously Analyzed Stocks</h1>

        <br>
        <p>
          Placeholder to display list of stocks that were previously entered for analysis.<br><br>
          Idea...
          <ol>
          <li>Display list of stocks along with sector and industry</li>
          <li>User will be able to click on checkboxes to add selected stocks to a portfolio</li>
          <li>User can save this portfolio</li>
          <li>Show portfolio analysis: correlation, and the graph</li>
          </ol>
        </p>
    </div>
{% endblock %}