{% extends "bootstrap/base.html" %}

{% block title %}Financial Instability{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Financial Instability</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movements<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/adj_close_plot">Adjusted Close</a></li>
                            <li><a href="/mov_av_20day_plot">20 Day Moving Average</a></li>
                            <li><a href="/mov_av_50day_plot">50 Day Moving Average</a></li>
                            <li><a href="/mov_av_200day_plot">200 Day Moving Average</a></li>
                            <li><a href="/adj_close_histo_plot">Daily Returns (Histogram)</a></li>
                            <li><a href="/candle_plot">OHLC</a></li>
                            <li><a href="/bollinger_bands_plot">Bollinger Bands</a></li>
                            <li><a href="/trade_volume_plot">Volume</a></li>
                        </ul>
                    </li>
                    <!-- http://www.bootply.com/nZaxpxfiXz -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comparisons<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/us_comparison_plot_adjclose">U.S. Adjusted Close</a></li>
                            <li><a href="/us_comparison_plot_norm">U.S. Normalized</a></li>
                            <li><a href="/us_comparison_plot_daily">U.S. Daily Returns</a></li>
                            <li><a href="/us_comparison_plot_cum">U.S. Cumulative</a></li>
                            <li class="divider"></li>
                            <li><a href="/global_comparison_plot_adjclose">Global Adjusted Close</a></li>
                            <li><a href="/global_comparison_plot_norm">Global Normalized</a></li>
                            <li><a href="/global_comparison_plot_daily">Global Daily Returns</a></li>
                            <li><a href="/global_comparison_plot_cum">Global Cumulative</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Dropdown Link 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Correlation<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/corr">Correlation to US Economy</a></li>
                            <li><a href="/heatmap">Heat Map (S&P 500)</a></li>
                            <li><a href="/heatline">Heat Line (S&P 500)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/temp">Temp</a></li>
                        </ul>
                    </li>
                    <li><a href="/available_stocks">History</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}