{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ ticker }} news from {{ start }} until {{ end }}</h1>
    </div>
    {% for one_url, one_text, two_meta_source, two_meta_date, three_abstract in news_feed %}
        <div>
            <b><a target="_blank" href="{{ one_url }}">{{ one_text }}</a></b>
            <br>
            <div style="color:#808080">{{ two_meta_source }} - {{ two_meta_date }}</div>
            <i>{{ three_abstract }}</i>
            <br><br>
        </div>
    {% endfor %}
{% endblock %}