{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Correlation</h1>

        <br>
        <p>
          Placeholder to display correlation for Stock Symbol: <b>{% if ticker %}{{ ticker|upper }}{% else %}N/A{% endif %}</b>
          <br>
          against the market (nasdaq, frankfurt, etc) or get S&P500 data off the web scrapping.
        </p>
    </div>
{% endblock %}