{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Correlation Table for <a class="redtext">{{ ticker }}</a> against
            <a href="https://en.wikipedia.org/wiki/List_of_S%26P_500_companies">S&P500 companies</a></h1>
    </div>
    <div>

        <table class="corrTableEnd">
            <tr>
                <th>Symbol</th>
                <th>Correlation</th>
            </tr>
            {% for i in neg_corr_df.index %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ neg_corr_df[i] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}