{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Financial Instability{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Information for <a class="redtext">{{ ticker }}</a></h1>
    </div>
    <div>

        <table class="regTable">
            <tr>
                <th>
                    Name
                </th>
                <td>{{ share.get_name() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Stock Exchange
                </th>
                <td>{{ share.get_stock_exchange() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Price Earnings Growth Ratio
                </th>
                <td>{{ share.get_price_earnings_growth_ratio() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">The PEG ratio (price/earnings to growth ratio) is a valuation metric for determining the relative trade-off between the price of a stock, the earnings generated per share (EPS), and the company's expected growth.</span>
                </td>
            </tr>
            <tr>
                <th>
                    Prev Close
                </th>
                <td>{{ share.get_prev_close() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Open
                </th>
                <td>{{ share.get_open() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Price
                </th>
                <td>{{ share.get_price() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Days High
                </th>
                <td>{{ share.get_days_high() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Days Low
                </th>
                <td>{{ share.get_days_low() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Year High
                </th>
                <td>{{ share.get_year_high() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Year Low
                </th>
                <td>{{ share.get_year_low() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Change
                </th>
                <td>{{ share.get_change() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Percent Change
                </th>
                <td>{{ share.get_percent_change() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Volume
                </th>
                <td>{{ share.get_volume() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Avg Daily Volume
                </th>
                <td>{{ share.get_avg_daily_volume() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Market Cap
                </th>
                <td>{{ share.get_market_cap() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">Market capitalization (market cap) is the market value at a point in time of the shares outstanding of a publicly traded company, being equal to the share price at that point of time times the number of shares outstanding.</span>
                </td>
            </tr>
            <tr>
                <th>
                    Book Value
                </th>
                <td>{{ share.get_book_value() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">Book value of an asset is the value at which the asset is carried on a balance sheet and calculated by taking the cost of an asset minus the accumulated depreciation.</span>
                </td>
            </tr>
            <tr>
                <th>
                    Earnings Share
                </th>
                <td>{{ share.get_earnings_share() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">Earnings per share (EPS) is the portion of a company's profit allocated to each outstanding share of common stock. Earnings per share serves as an indicator of a company's profitability.</span>
                </td>
            </tr>
            <tr>
                <th>
                    50 day moving avg
                </th>
                <td>{{ share.get_50day_moving_avg() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    200 day moving avg
                </th>
                <td>{{ share.get_200day_moving_avg() }}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    Price Sales
                </th>
                <td>{{ share.get_price_sales() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">A ratio that compares a company’s stock price to its revenues. The price-to-sales ratio is an indicator of the value placed on each dollar of a company’s sales or revenues.</span>
                </td>
            </tr>
            <tr>
                <th>
                    Price Book
                </td>
                <td>{{ share.get_price_book() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">The price-to-book ratio (P/B Ratio) is a ratio used to compare a stock's market value to its book value. It is calculated by dividing the current closing price of the stock by the latest quarter's book value per share. The P/B ration has been favored by value investors for decades and is widely used by market analysts. Traditionally, any value under 1.0 is considered a good P/B value, indicating a potentially undervalued stock. However, value investors often consider stocks with a P/B value under 3.0.</span>
                </td>
            </tr>
            <tr>
                <th>
                    Short Ratio
                </td>
                <td>{{ share.get_short_ratio() }}</td>
                <td class="helptooltip">?
                    <span class="helptooltiptext">The ratio of tradable shares being shorted to shares in the market, or the float. It is an indirect metric of investor sentiment. When short interest is high, above 40%, it implies company investors hope shares will decline in value.</span>
                </td>
            </tr>












        </table>

    </div>
{% endblock %}